apiToken: "replace-with-controller-api-token"
bootstrapVersion: "bootstrap-2025-11-25"
rulesVersion: "decision-2025-11-25"

envs:
  staging:
    common:
      alistBaseUrl: "https://alist-staging.example.com"
      alistAuthHeaders:
        Authorization: "Bearer staging-alist-token"
      tokenHmacKeyId: "default"
      tokenHmacKey: "replace-with-hmac-key"
      signSecret: ""
    landing:
      pageSecret: "replace-with-page-secret"
      captcha:
        defaultCombo: ["verify-altcha"]
      turnstile:
        enabled: false
        siteKey: ""
        secretKey: ""
        tokenBinding: true
        tokenTTLSeconds: 600
        tokenTable: "TURNSTILE_TOKEN_BINDING"
        cookieExpireSeconds: 120
        expectedAction: "download"
        enforceAction: true
        enforceHostname: false
        allowedHostnames: []
      altcha:
        enabled: true
        baseDifficultyMin: 250000
        baseDifficultyMax: 250000
        tokenExpireSeconds: 180
        tokenTable: "ALTCHA_TOKEN_LIST"
        difficultyWindowSeconds: 30
        difficultyResetSeconds: 120
        maxBlockSeconds: 120
        maxExponent: 10
        minUpgradeExponent: 3
      fastRedirect: false
      autoRedirect: false
      ipv4Only: false
      workerAddresses:
        - "https://download-staging.example.com"
      pathRules:
        blacklist:
          - name: "landing_block_admin"
            prefix: ["/admin", "/internal"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["block"]
        whitelist:
          - name: "landing_public"
            prefix: ["/public", "/share"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["pass-asis"]
        except: []
      powdet:
        enabled: false
        baseUrl: ""
        staticBaseUrl: ""
        token: ""
        table: "POW_CHALLENGE_TICKET"
        difficultyTable: "POWDET_DIFFICULTY_STATE"
        expireSeconds: 180
        clockSkewSeconds: 60
        maxWindowSeconds: 600
      db:
        mode: "custom-pg-rest"
        postgrestUrl: "https://postgrest-staging.example.com"
        verifyHeader: ["X-Postgrest-Auth"]
        verifySecret: ["replace-with-postgrest-secret"]
        cleanupPercentage: 5 # set to 0 to disable landing-side cleanup
        cache:
          tableName: "FILESIZE_CACHE_TABLE"
          sizeTTLSeconds: 86400
          cleanupPercentage: 5
        rateLimit:
          enabled: false
          windowSeconds: 60
          limit: 0
          ipv4Suffix: "/32"
          ipv6Suffix: "/60"
          blockSeconds: 600
          pgErrorHandle: "fail-closed"
          fileWindowSeconds: 60
          fileLimit: 0
          fileBlockSeconds: 240
          tableName: "IP_LIMIT_TABLE"
          fileTableName: "IP_FILE_LIMIT_TABLE"
          cleanupPercentage: 5
        idleTable: "landing_idle"
        idleTimeoutSeconds: 0
      crypt:
        prefix: ""
        includes: []
        encryptionMode: "crypt"
        fileHeaderSize: 32
        blockHeaderSize: 16
        blockDataSize: 65536
        dataKey: ""
      webDownloader:
        enabled: false
        maxConnections: 16
      clientDecryptEnabled: false
      additional:
        appendAdditional: true
        minBandwidthMbps: 10
        minDurationSeconds: 3600
        maxDurationSeconds: 0
    download:
      address: "https://alist-staging.example.com"
      auth:
        signCheck: true
        hashCheck: true
        workerCheck: true
        additionCheck: true
        additionExpireTimeCheck: true
        ipv4Only: true
      db:
        mode: "custom-pg-rest"
        postgrestUrl: "https://postgrest-staging.example.com"
        verifyHeader: ["X-Postgrest-Auth"]
        verifySecret: ["replace-with-postgrest-secret"]
        cacheTable: "download_cache"
        linkTTLSeconds: 1800
        cleanupPercentage: 1
        idleTimeoutSeconds: 0
        lastActiveTable: "download_last_active"
        rateLimit:
          enabled: false
          windowSeconds: 0
          limit: 0
          ipv4Suffix: "/32"
          ipv6Suffix: "/60"
          blockSeconds: 600
          pgErrorHandle: "fail-closed"
          tableName: "download_ip_ratelimit"
          cleanupPercentage: 1
      fairQueue:
        enabled: true
        backend: "slot-handler"
        hostPatterns: ["*.sharepoint.com"]
        slotHandlerUrl: "https://slot-handler-staging.example.com"
        slotHandlerAuthKey: "replace-with-slot-handler-key"
        queueWaitTimeoutMs: 120000
        slotHandlerTimeoutMs: 20000
        perRequestTimeoutMs: 8000
        maxAttemptsCap: 35
        profiles:
          default:
            maxWaitMs: 120000
            maxSlotPerHost: 8
            maxSlotPerIp: 3
            maxWaitersPerIp: 8
          strict:
            maxWaitMs: 90000
            maxSlotPerHost: 4
            maxSlotPerIp: 2
            maxWaitersPerIp: 4
      throttleProfiles:
        default:
          hostPatterns: []
          windowSeconds: 60
          observeWindowSeconds: 60
          errorRatioPercent: 6
          consecutiveThreshold: 2
          minSampleCount: 50
          fastErrorRatioPercent: 60
          fastMinSampleCount: 4
          protectHttpCodes: [429, 499, 500, 502, 503, 504]
          cleanupPercentage: 1
          tableName: "download_throttle"
      originBindingDefault: "asn,iprange"
      pathRules:
        blacklist:
          - name: "block_admin"
            prefix: ["/admin", "/internal"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["block"]
        whitelist:
          - name: "public_share"
            prefix: ["/share"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: ["/share"]
            action: ["skip-origin"]
        except:
          - name: "public_share_passthrough"
            prefix: ["/share/public"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["asis"]
    powdet:
      enabled: true
      listenPort: 2370
      batchSize: 1000
      deprecateAfterBatches: 10
      argon2:
        memoryKiB: 16384
        iterations: 2
        parallelism: 1
        keyLength: 16
      adminApiToken: "replace-with-admin-token"
    slotHandler:
      listen: ":8080"
      logLevel: "info"
      auth:
        enabled: true
        header: "X-FQ-Auth"
        token: "replace-with-slot-handler-key"
      backend:
        mode: "postgrest"
        postgrest:
          baseUrl: "https://postgrest-staging.example.com"
          authHeader: "Bearer replace-with-postgrest-token"
        postgres:
          dsn: "postgres://user:pass@host:5432/dbname?sslmode=disable"
      fairQueue:
        maxWaitMs: 60000
        pollIntervalMs: 500
        pollWindowMs: 6000
        minSlotHoldMs: 800
        smoothReleaseIntervalMs: null
        sessionIdleSeconds: 90
        maxSlotPerHost: 5
        maxSlotPerIp: 1
        maxWaitersPerIp: 3
        maxWaitersPerHost: 50
        zombieTimeoutSeconds: 30
        ipCooldownSeconds: 0
        rpc:
          throttleCheckFunc: "download_check_throttle_protection"
          registerWaiterFunc: "download_register_fq_waiter"
          releaseWaiterFunc: "download_release_fq_waiter"
          tryAcquireFunc: "download_try_acquire_slot"
          releaseFunc: "download_release_slot"
        cleanup:
          enabled: true
          intervalSeconds: 1800
          queueDepthZombieTtlSeconds: 20
        defaultGrantedCleanupDelay: 5

  prod:
    common:
      alistBaseUrl: "https://alist.example.com"
      alistAuthHeaders:
        Authorization: "Bearer prod-alist-token"
      tokenHmacKeyId: "default"
      tokenHmacKey: "replace-with-hmac-key"
      signSecret: ""
    landing:
      pageSecret: "replace-with-page-secret"
      captcha:
        defaultCombo: ["verify-altcha"]
      turnstile:
        enabled: false
        siteKey: ""
        secretKey: ""
        tokenBinding: true
        tokenTTLSeconds: 600
        tokenTable: "TURNSTILE_TOKEN_BINDING"
        cookieExpireSeconds: 120
        expectedAction: "download"
        enforceAction: true
        enforceHostname: false
        allowedHostnames: []
      altcha:
        enabled: true
        baseDifficultyMin: 250000
        baseDifficultyMax: 250000
        tokenExpireSeconds: 180
        tokenTable: "ALTCHA_TOKEN_LIST"
        difficultyWindowSeconds: 30
        difficultyResetSeconds: 120
        maxBlockSeconds: 120
        maxExponent: 10
        minUpgradeExponent: 3
      fastRedirect: false
      autoRedirect: false
      ipv4Only: false
      workerAddresses:
        - "https://download.example.com"
      pathRules:
        blacklist:
          - name: "landing_block_admin"
            prefix: ["/admin", "/internal"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["block"]
        whitelist:
          - name: "landing_public"
            prefix: ["/public", "/share"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["pass-asis"]
        except: []
      powdet:
        enabled: true
        baseUrl: "https://powdet.example.com"
        staticBaseUrl: ""
        token: "replace-with-powdet-token"
        table: "POW_CHALLENGE_TICKET"
        difficultyTable: "POWDET_DIFFICULTY_STATE"
        expireSeconds: 180
        clockSkewSeconds: 60
        maxWindowSeconds: 600
      db:
        mode: "custom-pg-rest"
        postgrestUrl: "https://postgrest.example.com"
        verifyHeader: ["X-Postgrest-Auth"]
        verifySecret: ["replace-with-postgrest-secret"]
        cleanupPercentage: 5 # set to 0 to disable landing-side cleanup
        cache:
          tableName: "FILESIZE_CACHE_TABLE"
          sizeTTLSeconds: 86400
          cleanupPercentage: 5
        rateLimit:
          enabled: false
          windowSeconds: 60
          limit: 0
          ipv4Suffix: "/32"
          ipv6Suffix: "/60"
          blockSeconds: 600
          pgErrorHandle: "fail-closed"
          fileWindowSeconds: 60
          fileLimit: 0
          fileBlockSeconds: 240
          tableName: "IP_LIMIT_TABLE"
          fileTableName: "IP_FILE_LIMIT_TABLE"
          cleanupPercentage: 5
        idleTable: "landing_idle"
        idleTimeoutSeconds: 0
      crypt:
        prefix: ""
        includes: []
        encryptionMode: "crypt"
        fileHeaderSize: 32
        blockHeaderSize: 16
        blockDataSize: 65536
        dataKey: ""
      webDownloader:
        enabled: false
        maxConnections: 16
      clientDecryptEnabled: false
      additional:
        appendAdditional: true
        minBandwidthMbps: 10
        minDurationSeconds: 3600
        maxDurationSeconds: 0
    download:
      address: "https://alist.example.com"
      auth:
        signCheck: true
        hashCheck: true
        workerCheck: true
        additionCheck: true
        additionExpireTimeCheck: true
        ipv4Only: true
      db:
        mode: "custom-pg-rest"
        postgrestUrl: "https://postgrest.example.com"
        verifyHeader: ["X-Postgrest-Auth"]
        verifySecret: ["replace-with-postgrest-secret"]
        cacheTable: "download_cache"
        linkTTLSeconds: 1800
        cleanupPercentage: 1
        idleTimeoutSeconds: 0
        lastActiveTable: "download_last_active"
        rateLimit:
          enabled: false
          windowSeconds: 0
          limit: 0
          ipv4Suffix: "/32"
          ipv6Suffix: "/60"
          blockSeconds: 600
          pgErrorHandle: "fail-closed"
          tableName: "download_ip_ratelimit"
          cleanupPercentage: 1
      fairQueue:
        enabled: true
        backend: "slot-handler"
        hostPatterns: ["*.sharepoint.com"]
        slotHandlerUrl: "https://slot-handler.example.com"
        slotHandlerAuthKey: "replace-with-slot-handler-key"
        queueWaitTimeoutMs: 120000
        slotHandlerTimeoutMs: 20000
        perRequestTimeoutMs: 8000
        maxAttemptsCap: 35
        profiles:
          default:
            maxWaitMs: 120000
            maxSlotPerHost: 8
            maxSlotPerIp: 3
            maxWaitersPerIp: 8
      throttleProfiles:
        default:
          hostPatterns: []
          windowSeconds: 60
          observeWindowSeconds: 60
          errorRatioPercent: 6
          consecutiveThreshold: 2
          minSampleCount: 50
          fastErrorRatioPercent: 60
          fastMinSampleCount: 4
          protectHttpCodes: [429, 499, 500, 502, 503, 504]
          cleanupPercentage: 1
          tableName: "download_throttle"
      originBindingDefault: "asn,iprange"
      pathRules:
        blacklist:
          - name: "block_admin"
            prefix: ["/admin", "/internal"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["block"]
        whitelist:
          - name: "public_share"
            prefix: ["/share"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: ["/share"]
            action: ["skip-origin"]
        except:
          - name: "public_share_passthrough"
            prefix: ["/share/public"]
            dirIncludes: []
            nameIncludes: []
            pathIncludes: []
            action: ["asis"]
    powdet:
      enabled: true
      listenPort: 2370
      batchSize: 1000
      deprecateAfterBatches: 10
      argon2:
        memoryKiB: 16384
        iterations: 2
        parallelism: 1
        keyLength: 16
      adminApiToken: "replace-with-admin-token"
    slotHandler:
      listen: ":8080"
      logLevel: "info"
      auth:
        enabled: true
        header: "X-FQ-Auth"
        token: "replace-with-slot-handler-key"
      backend:
        mode: "postgrest"
        postgrest:
          baseUrl: "https://postgrest.example.com"
          authHeader: "Bearer replace-with-postgrest-token"
        postgres:
          dsn: "postgres://user:pass@host:5432/dbname?sslmode=disable"
      fairQueue:
        maxWaitMs: 60000
        pollIntervalMs: 500
        pollWindowMs: 6000
        minSlotHoldMs: 800
        smoothReleaseIntervalMs: null
        sessionIdleSeconds: 90
        maxSlotPerHost: 5
        maxSlotPerIp: 1
        maxWaitersPerIp: 3
        maxWaitersPerHost: 50
        zombieTimeoutSeconds: 30
        ipCooldownSeconds: 0
        rpc:
          throttleCheckFunc: "download_check_throttle_protection"
          registerWaiterFunc: "download_register_fq_waiter"
          releaseWaiterFunc: "download_release_fq_waiter"
          tryAcquireFunc: "download_try_acquire_slot"
          releaseFunc: "download_release_slot"
        cleanup:
          enabled: true
          intervalSeconds: 1800
          queueDepthZombieTtlSeconds: 20
        defaultGrantedCleanupDelay: 5
